<!DOCTYPE html>
<html lang="pt-br">
    <head>

      {% block head %}
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <!-- Compiled and minified CSS -->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
      <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css"/>
  
      <title>{% block title %} Pagina Inicial {% endblock title %} </title>


      {% endblock head %}


    </head>

    <body>

      <nav>
        
        <div class="nav-wrapper" style="background-color: #02d1a4">
          <a href="/" class="center brand-logo" style="text-align: center">Inclusão de Surdos no Mercado de Trabalho</a>
          <a href="#" data-activates="menu-mobile" class="button-collapse">
            <i class="material-icons">menu</i>
          </a>
         <ul class="right hide-on-med-and-down">
            <li><a href="/">Pagina Inicial</a></li>
            <li><a href="/login">Login</a></li>
            <li><a class='dropdown-button' data-beloworigin='true' href='#' data-activates='dropdown1' style="background-color: #02d1a4">Cadastro<i class="material-icons right">arrow_drop_down</i></a></li>
         </ul>
         <ul id="dropdown1" class="dropdown-content">
            <li><a href="/cadastro/usuario">Empresas</a></li>
            <li><a href="/cadastro/empresa">Usuários</a></li>
         </ul>
        
         <ul class="side-nav" id="menu-mobile" style="background-color: #02d1a4">
            <li><a href="/" style="color: white">Pagina Inicial</a></li>
            <li><a href="/login" style="color: white">Login</a></li>
            <li><a href="#" style="color: white">Cadastro<i class="material-icons right" style="color: white">arrow_drop_down</i></a></li>
            <li><a href="/cadastro/empresa" style="color: white">ㅤEmpresas</a></li>
            <li><a href="/cadastro/usuario" style="color: white"> ㅤSurdos</a></li>
         </ul>
        </div>
      </nav>

        {% block content %} {% endblock content %} 

     
	

        
        {% block lnk %}
        

        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

        <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
        <script>$(function(){$(".button-collapse").sideNav();});</script>
        <script src="{{ url_for('static', filename = 'js/menu.js') }}"> </script>

        {% endblock lnk %}
  </body>


</html>
