<!DOCTYPE html>
<html lang="pt-br">
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <!-- Compiled and minified CSS -->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
      <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css"/>
  
      <title>{% block title %} Pagina Inicial {% endblock title %} </title>



    </head>

    <body>

      <nav>
        
        <div class="nav-wrapper" style="background-color: #02d1a4">
          <a href="/" class="center brand-logo" style="text-align: center">Inclusão de Surdos no Mercado de Trabalho</a>
          <a href="#" data-activates="menu-mobile" class="button-collapse">
            <i class="material-icons">menu</i>
          </a>
         <ul class="right hide-on-med-and-down">
            <li><a href="/">Pagina Inicial</a></li>
            <li><a href="/login">Login</a></li>
            <li><a class='dropdown-button' data-beloworigin='true' href='#' data-activates='dropdown1' style="background-color: #02d1a4">Cadastro<i class="material-icons right">arrow_drop_down</i></a></li>
         </ul>
         <ul id="dropdown1" class="dropdown-content">
            <li><a href="/cadastro/usuario">Empresas</a></li>
            <li><a href="/cadastro/empresa">Usuários</a></li>
         </ul>
        
         <ul class="side-nav" id="menu-mobile" style="background-color: #02d1a4">
            <li><a href="#" style="color: white">Pagina Inicial</a></li>
            <li><a href="#" style="color: white">Login</a></li>
            <li><a href="#" style="color: white">Cadastro<i class="material-icons right" style="color: white">arrow_drop_down</i></a></li>
            <li><a href="#" style="color: white">ㅤEmpresas</a></li>
            <li><a href="#" style="color: white"> ㅤSurdos</a></li>
         </ul>
        </div>
      </nav>

        {% block content %} {% endblock content %} 

     
	

      <footer class="page-footer" style="background-color: #02d1a4">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <p class="grey-text text-lighten-4">Esse site foi desenvolvido com o objetivo de auxiliar a inclusão de pessoas surdas no mercado de trabalho, além de orientar e conscientizar a todos sobre a importância da inclusão dos surdos em espaços sociais. </p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Entre em contato:</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3"> contato@incluisurdos.com.br</a></li>
                  <li><a class="grey-text text-lighten-3">tamivitoria03@gmail.com</a></li>
                  <li><a class="grey-text text-lighten-3">nataliaprates06@gmail.com </a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2014-2019 Inclusão de Surdos no Mercado de Trabalho, all rights reserved.
            </div>
          </div>
        </footer>
            
        {% block compiled %}
        
        {% endblock %}
  </body>


</html>
