{% extends 'base.html' %}


{% block title %} Cadastro {% endblock title %}



{% block content %}


<div class="row">
    <div class="col s12 m8 offset-m4">
        <br/>

        <form action="" method="POST" class="col s6">

           <h1  style="font-family: times new roman; font-size:230%; font-style: normal; font-weight: 500; color: #585858">CADASTRO</h1>

            {{ form.csrf_token }}

            {{ form.hidden_tag() }} 

            <div class="form-group">
                <label> Nome da empresa</label>
                        {{ form.name }}
            </div>
            <div class="form-group">
                <label> CNPJ </label>
                    {{ form.CNPJ }} 
            </div>
            <div class="form-group">
                <label> UF </label>
                    {{ form.uf }} 
            </div>
            <div class="form-group">
                <label> Cidade </label>
                    {{ form.cidade }} 
            </div>
            <div class="form-group">
                <label> Nome de usuário</label>
                    {{ form.username }}
            </div>
            <div class="form-group">
                <label> Email </label>
                    {{form.email }}
            </div>
            <div class="form-group">
                <label> Senha </label>
                    {{ form.password }}
            </div>
            <div class="form-group">
                <label> Confirmar senha </label>
                    {{ form.confirmar_password }}
            </div>
             <br/>
            <br/>
            {{ form.botao }}
        </form>
    </div>
</div>
<br/>
<br/>
<br/>

<footer class="page-footer" style="position: absolute; width:100%; left: 0; background-color: #FF7F50">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
          <p class="grey-text text-lighten-4">Site desenvolvido com o objetivo de auxiliar e conscientizar sobre a importância da inclusão de pessoas surdas no mercado de trabalho. </p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h6 class="white-text">Entre em contato:</h6>
        <ul>
          <li><a class="grey-text text-lighten-3">tamivitoria03@gmail.com</a></li>
          <li><a class="grey-text text-lighten-3">nataliaprates06@gmail.com </a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
     Inclusão de Surdos no Mercado de Trabalho © 2019 | Todos os direitos reservados.
    </div>
  </div>
</footer>
    

{% endblock content %}
