{% extends 'base.html' %}


{% block content %}


<div class="row">
    <div class="col s12 m8 offset-m4">
        <br/>
            <h4>Login</h4>

            {{ form.csrf_token }}
            <form action="" method="POST" class="col s6">

             <div class="form-group">
                <label> Nome de usuário</label>
                         {{ form.username}}
            </div>
            <div class="form-group">
                <label> Senha </label>
                    {{ form.password}}
            </div>
            <div> <input type="checkbox" class="filled-in" id="filled-in-box" checked="checked" />
                 <label for="filled-in-box">
                  {{ form.remember_me }} Lembrar-me 
                  </label>
             </div>
             <br/>
            <br/>
            <button type="submit" class="btn btn-default">Enviar</button>
    </form>
    </div>
</div>
<br/>
<br/>
<br/>

<footer class="page-footer" style="position: absolute; width:100%; left: 0; background-color: #FF7F50">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <p class="grey-text text-lighten-4">Esse site foi desenvolvido com o objetivo de auxiliar a inclusão de pessoas surdas no mercado de trabalho, além de orientar e conscientizar a todos sobre a importância da inclusão dos surdos em espaços sociais. </p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Entre em contato:</h5>
        <ul>
          <li><a class="grey-text text-lighten-3"> contato@incluisurdos.com.br</a></li>
          <li><a class="grey-text text-lighten-3">tamivitoria03@gmail.com</a></li>
          <li><a class="grey-text text-lighten-3">nataliaprates06@gmail.com </a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
     Inclusão de Surdos no Mercado de Trabalho © 2019 | Todos os direitos reservados.
    </div>
  </div>
</footer>
  

{% endblock content %}

