{% extends 'base.html' %}



{% block title %} Login {% endblock title %} 



{% block content %}


<div class="row">
    <div class="col s12 m8 offset-m4">
        <br/>
        <br/>
        <br/>
            {{ form.csrf_token }}
            <form action="" method="POST" class="col s6">
            <h1  style="font-family: times new roman; font-size:230%; font-style: normal; font-weight: 500; color: #585858">LOGIN</h1>
            <br/>

             <div class="form-group">
                <label> Nome de usuário</label>
                         {{ form.username}}
            </div>
            <br/>
            <div class="form-group">
                <label> Senha </label>
                    {{ form.password}}
            </div>
            <br/>
            <div> <input type="checkbox" class="filled-in" id="filled-in-box" checked="checked" style="background-color: #FF7F50"/>
                 <label for="filled-in-box">
                  {{ form.remember_me }} Lembrar-me 
                  </label>
             </div>
             <br/>
            <br/>
            <div class="right-align">
              <button type="submit" class="btn btn-small " style="background-color: #FF7F50">Enviar</button>
            </div>
    </form>
    </div>
</div>
<br/>
<br/>
<br/>

<footer class="page-footer" style="position: absolute; width:100%; left: 0; background-color: #FF7F50">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
          <p class="grey-text text-lighten-4">Site desenvolvido com o objetivo de auxiliar e conscientizar sobre a importância da inclusão de pessoas surdas no mercado de trabalho.</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h6 class="white-text">Entre em contato:</h6>
        <ul>
          <li><a class="grey-text text-lighten-3">tamivitoria03@gmail.com</a></li>
          <li><a class="grey-text text-lighten-3">nataliaprates06@gmail.com </a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
     Inclusão de Surdos no Mercado de Trabalho © 2019 | Todos os direitos reservados.
    </div>
  </div>
</footer>
  

{% endblock content %}

